#filler{
    height: 40px;
    width: 100%;
    background-color: #1C1C1C;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.fundo{
    background-image: url(Imagens/backgroundnoticia.jpg);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

label:hover{
    cursor: pointer;
}

.navbar1{
    background-color: white;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.navbar1 div{
    align-items: center;
    text-align: center;
}

#textop{
    color: #1C1C1C;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#textoI{
    color: rgb(66, 189, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#txtS{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

#itemnavbarp{
    width: 400px;
    height: 80px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    justify-content: center;
    display: flex;
    gap: 15px;
}

#itemnavbar2{
    width: 400px;
    display: flex;
    flex-direction: column;
}
#itemnavbar2 > img{
    width: 400px;
}

.navbar1 div a{
    color: #1C1C1C;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.linhaescura{
    width: 100%;
    height: 2px;
    background-color: #1C1C1C;
}
.linhaazul{
    width: 100%;
    height: 2px;
    background-color: rgb(66, 189, 255);
}
.topicos{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.topiconoticia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topiconoticia > img {
    width: 10px;
    height: 10px;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}


.topiconoticia > a{
    color: #1C1C1C;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}

.topiconoticia:hover img{
    width: 30px;
    transition: 300ms;
}

.noticias1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}
#topico{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#topico > img{
    width: 700px;
    height: 2px;
    border-radius: 30px;
}

#labeltopico{
    color: #1C1C1C;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
}

.cardnoticias1{
    display: flex;
    align-items: center;
    gap: 40px;
}

.cardlongo{
    width: 300px;
    height: 500px;
    background-color: grey;
    border-radius: 30px;
}
.cardlongo:hover{
    width: 310px;
    height: 510px;
    transition: 500ms;
}

.cardslargos{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cardlargo{
    width: 350px;
    height: 200px;
    background-color: grey;
    border-radius: 20px;
}
.cardlargo:hover{
    transition: 500ms;
    width: 360px;
    height: 210px;
}

.noticias2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.cardlongo2{
    width: 300px;
    height: 500px;
    background-color: grey;
    border-radius: 30px;
}
.cardlongo2:hover{
    width: 310px;
    height: 510px;
    transition: 500ms;
}

#cardlargo2{
    width: 350px;
    height: 200px;
    background-color: grey;
    border-radius: 20px;
}
.cardlargo2:hover{
    transition: 500ms;
    width: 360px;
    height: 210px;
}


