body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logo{
    display: flex;
}

#barradepesquisa > input{
    height: max-content;
    width: 200px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;
}

#icones{
    display: flex;
    gap: 30px;
}

#icones > a{
    padding: 10px;
    background-color: rgba(214, 214, 214, 0.138);
    border: 5px solid rgba(214, 214, 214, 0.138);
    border-radius: 10px;
}