.cards{
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

.cards > div{ /* O ">" indica que apenas a div filha de cards será afetada.*/
    background-color: rgb(157, 157, 157);
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards > div > img{
    width: 100%;
    height: 130px;
}

.cards > div > div{
    height: 70px;
    background-color: rgb(162, 162, 162);
    display: flex;
    gap: 10px;
}

.cards > div > div > div{
    background-color: rgb(193, 193, 193);
}