.navbar{
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

.dropdown div{
    background-color: brown;
    position: absolute; /*Faz com que os outros elementos do site "ignorem" o espaço do elemento sendo modificado. Pode-se utilizar o comando "z-index" para atribuir preferencias sobre o elemento e sua camada.*/
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 5px 5px;
}

.dropdown div a{
    display: none;
    padding: 5px;
}

.dropdown:hover div a{
    display: block;
}

.dropdown div a:hover{
    background-color: rgba(255, 255, 255, 0.202);
}

@media (max-width: 800px){

    body{
        background-color: blue;
    }
}

@media (max-width: 500px){
    
    body{
        background-color: chocolate;
    }
}