body{
    margin: 0;
    padding: 0;
}

#Bah{
    width: 100%;
}

.navbar div{
    display: flex;
    align-items: center;

}

.navbar img{
    height: 60px;

}


.navbar{
    background-color: #ffaeba;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    border-bottom: 5px solid rgb(255, 200, 217);
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a{
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    border: 3px;
    border-radius: 5px;
    
}

.navbar a:hover{
    background-color: rgb(223, 162, 182);
    /*text-decoration: underline;       Pode-se editar o hover adicionando decorações quando o mouse passa por cima do item.*/
    transition: 0.8s;    
}

#FAQ{
    float: right;
}
