body{
    background-color: rgb(23, 23, 23);
}

h1{
    color: white;
}

h4{
    color: white;
}

p{
    color: white;
}

hr{
    color: white;
}

li{ 
    color: white;
}

ul{
    color: white;
}

a{
    color: rgb(255, 255, 255);
}

div{
    font-family: 'Courier New', Courier, monospace;
}

