
/* !!! COMO ESPECIFICAR ITEMS NO CSS !!! */


.inicio{  /* O ponto final antes do nome da classe é um sinalizador do CSS que informa que o nome do item é uma classe definida no HTML. */
    background-color: rgb(146, 129, 90);
    border: 3px dashed rgb(198, 165, 117);
    text-align: center;
    padding: 10px 0;
    color: white;
}

.banner{
    background-color: rgb(220, 220, 199);
    padding: 10px 0;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 0;
}

#borda{ /* O hashtag sinaliza ao CSS que o item que está sendo mudado é uma identificação. */
    border-radius: 20px;
}

#marrom{
    color: rgb(87, 59, 35);
}

#largura{
    width: 50%;
}

.banner div{ /* No CSS, para mencionar "filhos" de um item, podemos inserir o nome dos "pai" depois do "filhos" no código. */
    background-color: blanchedalmond; /* Ex: pai = .banner / filhos = div */
    text-emphasis-position: cen;
    margin: 10px 300px;
    color: rgb(158, 158, 137);
}

.fixa{
    color: rgb(164, 129, 81);
    border: 3px dashed rgb(187, 167, 143);
    border-radius: 10px;
    background-color: beige;
    padding: 20px 10px;
    width: 200px;
    height: 20px;
    text-align: center;
    position: fixed; /* Para fazer a div ficar fixa no site, basta utilizar o comando "position", inserir o valor "fixed".*/
    top: 70%;          /* Após isso, utiliza-se o comando "top" para mover a div para cima, o "left" para mover o item para esquerda, o "right" para mover o item para direita e o "bottom" para mover o item para baixo.*/
    left: 10px;
}

.inicio:hover{ /* Cria uma função quando o mouse passar por cima da div */
    background-color: rgb(198, 185, 154); 
    transition: 500ms;  /* Tempo da transição entre as cores */
    cursor: pointer; /* Muda o cursor para a mãozinha assim que o mouse passar por cima. */
}